<%= nested_form_for @application do |f| %>
	 <div class="fields">
	 	<h3>Interests</h3>
  	<%= hidden_field_tag "application[interest_ids][]", nil%>
  	<% Interest.all.each do |interest| %>
    	<%= check_box_tag "application[interest_ids][]", interest.id, @application.interest_ids.include?(interest.id),  id: dom_id(interest) %>
   	 	<%= label_tag dom_id(interest), interest.name %><br/>
  	<% end %>
		</div>
	 <h3>Personal Information</h3>
	 <div class="fields">
	  <%= f.label :address %><br />
	  <%= f.text_field :address %>
	 </div>
	  <div class="fields">
	  <%= f.label :city %><br />
	  <%= f.text_field :city %>
	 </div>
	 <div class="fields">
	  <%= f.label :state %><br />
	  <%= f.text_field :state %>
	 </div>
	 <div class="fields">
	  <%= f.label :zip_code, 'Zip' %><br />
	  <%= f.text_field :zip_code %>
	 </div>
	 <div class="fields">
	  <%= f.label :phone_number %><br />
	  <%= f.text_field :phone_number %>
	 </div>
 	  <div>
 	    <h3>Education</h3>
 	    <%= f.fields_for :schools %>
  	  <%= f.link_to_add 'Add a School', :schools %>
 	  </div>
 	  <div>
 	   	<h3>Employment</h3>
     	<%= f.fields_for :jobs %>
     	<%= f.link_to_add 'Add an Employer', :jobs %>
    </div>
    <h3>Questions</h3>
    <div class = "fields">
      <%= f.label :answer1, question1 %><br />
	    <%= f.text_area :answer1 %>
    </div>
     <div class = "fields">
      <%= f.label :answer2, question2 %><br />
	    <%= f.text_area :answer2 %>
    </div>
    <div class = "fields">
      <%= f.label :answer3, question3 %><br />
	    <%= f.text_area :answer3 %>
    </div>
 	<div class="actions">
  		<%= f.submit "Submit Application" %>
 	</div>
<% end %>
