<h2>All applicants</h2>
<%= will_paginate %>
  <% if current_user.admin? %>
    <table class="users">
      <thead><th colspan = '3'>Users</th></thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
    	 	<td><%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{user.first_name} #{user.last_name}" %>
        </td>
        <td><%= link_to_function "Add to Entasso Talent Pool", 
                                 "alert('Hire me to implement this feature')", 
                                 :class => "button" %>
        </td>
      </tr>
    <% end %>
    </table>    
  <% else %>
    <p><%= link_to 'Your Application', user_path(current_user) %></p>
  <% end %>
  <%= current_user.admin?.to_s %>
<%= will_paginate %>
