<% if @user.application.nil? %>
  <h2><%= @title %><h2>
  <div>
    <%= link_to 'Create an Application', new_application_path, :class => "small button" %>
  </div>
  <% else %>  
     
     <%= render "shared/application" %>               
     <div class = "clear">
     <p>
    <%= link_to 'Edit Application', edit_application_path(@user.application), :class => "small left button" %></li>
    </p>
    <p>
    <%= link_to "Delete Application", @user.application, :method => :delete, :confirm => "You sure?",
                                :title => "Delete Application",:class => "left small button" %>
    </p>
    </div>                 
<% end %> 
