<h2>Application</h2>
<b>Interests:</b>
<ul>
  <% @user.application.interests.each do |interest| %>
    <li><%= interest.name %></li>
  <% end %>
</ul>
<table class = "app_table">
  <tr>
    <td id = "label">Address</td><td><%= @user.application.address %></td>
  </tr>
  <tr>
    <td id = "label">City:</td><td><%= @user.application.city %></td>
    <td id = "label">State:</td><td><%= @user.application.state %></td>
    <td id = "label">Zip:</td><td><%= @user.application.zip_code %></td>
  </tr>
  <tr>
    <td if = Label>Phone:</td><td><%= @user.application.phone_number %></td>
  </tr>
</table>

<h3>Education</h3>
  <% @user.application.schools.each do |school| %>
    <table class = "school_tabel">
      <tr><td><b>Type:</b></td><td><%= school.school_type %></td></tr>
      <tr><td><b>Name:</b></td><td><%= school.name %></td></tr>
      <tr><td><b>Major:</b></td><td><%= school.major %></td></tr>
      <tr>
      <td><b>Degree:</b></td><td><%= school.degree %></td><td><%= school.date_recieved %></td>
      </tr>
    </table>
  <% end %>
<h3>Employment</h3>
<% @user.application.jobs.each do |job| %>
    <table class = "job_tabel">
      <tr><td><b>Organization:</b></td><td><%= job.organization %></td></tr>
      <tr><td><b>Responsibilities:</b></td></tr>
      <tr><td><%= job.responsibilities %></td></tr>
      <tr>
      <td><b>Start: </b></td><td><%= job.start_date %></td>
      <td><b>End: </b></td><td><%= job.end_date %></td>
      </tr>
    </table>
  <% end %>
<div class="questions">
<h3>Questions</h3>
<p><%= question1 %></p>  
<p><%= text_area_tag :answer1, @user.application.answer1, :size => "40x15", 
                      :disabled => "true"  %></p>
<p><%= question2 %></p>  
<p><%= text_area_tag :answer2, @user.application.answer2, :size => "40x15", 
                      :disabled => "true"  %></p>
<p><%= question3 %></p>  
<p><%= text_area_tag :answer3, @user.application.answer3, :size => "40x15", 
                      :disabled => "true"  %></p>
</div>

